.container{
  width: 1200px;
  height: auto;
  margin: auto;
  padding-bottom: 40px;
}

.half-container{
  width: 300px;
  height: 400px;
  display: inline-block;
  float: left;
}

.container-half{
  width: 600px;
  height: 100%;
  display: inline-block;
  float: left;
  margin-top: 8px;
}

.another-container{
  border: 2px solid black;
  width: 280px;
  height: 100%;
  display: inline-block;
  float: right;
  margin-top: 17px;
  padding: 5px;
}


h1{
  text-align: center;
}
