<h1>Users app</h1>
<hr/>

<div class="container">
    <div class="half-container">
      <app-add-user (newUser)='onNewUser($event)'></app-add-user>
      <app-create-group></app-create-group>
    </div>

    <div class="container-half">
    <app-user *ngFor="let user of userService.users" [user]="user" ></app-user>
  </div>

  <div class="another-container"> Group
    <app-group></app-group>
  </div>
</div>
