.addUserForm{
  border: 2px solid black;
  padding: 10px;
}

.inputSection{
  padding-bottom: 20px;
}

.name{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 15px;
}

.email{
  margin-bottom: 20px;
  padding: 10px 15px;
}

.check{
  margin-bottom: 10px;
}

.role{
  margin-bottom: 20px;
  padding: 10px 15px;
}

button{
  padding: 15px 20px;
  color: white;
  background-color: cornflowerblue;
}
