<label class="create-group-label">
  <form class="groupForm" (ngSubmit)='onSubmit()'>
    <label for="createGroup">
      <input
        class="createGroup"
        type="text"
        name="createGroup"
        id="createGroup"
        placeholder="Name"
        #groupInput
      /><br/>
    </label>
    <button type="submit" class="CGBtn">Create</button>
  </form>
</label>
