.groupForm{
  border: 2px solid black;
  margin-top: 10px;
  width: 300px;
  height: auto;
}

.createGroup{
  margin: 10px;
  padding: 10px 15px;
}

.create-group-label{
  margin-top: 10px;
}

.CGBtn{
  padding: 15px 20px;
  color: white;
  background-color: cornflowerblue;
  margin: 10px;
}
